node_modules
package
code
cow
lib
.env.local
dist
out
logs
update-server/lizard-desktop*zip
.DS_Store
resources
tmp
build
tasks/win32/setup-ia32.iss
tasks/win32/setup-x64.iss
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
